# nome do workflow
name: Deploy do Angular para Vercel

# gatilho
on:
  push:
    branches:
      - main

# jobs
jobs:
  # nome do job
  build-and-deploy:
    # máquina virtual que vai rodar o código
    runs-on: ubuntu-latest

    # passos que o job vai executar
    steps:
      # usa a action 'checkout' para ter os arquivos do projeto na máquina
      - name: Checkout código
        uses: actions/checkout@v3

      # instala a versão do node que o projeto precisa
      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      # roda o npm install para baixar os pacotes
      - name: Instalar dependências
        run: npm install

      # instala a linha de comando da vercel na máquina
      - name: Instalar Vercel CLI
        run: npm install -g vercel

      # roda o build do package.json em modo de produção
      - name: Build do projeto Angular (Produção)
        run: npm run build -- --configuration production

      # envia o build para a vercel usando o token de autenticação
      - name: Deploy para Vercel (Produção)
        run: vercel --prod --token $VERCEL_TOKEN
        # env define as variáveis de ambiente para o run
        # secrets configurados no github
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      
